@import "tailwindcss";

@theme {

}

@layer base {
  :root {
    --background: #0e0e10;
    --foreground: #e5e1e4;
  }
}

@theme {
  --color-on-tertiary-fixed: #002113;
  --color-surface-variant: #353437;
  --color-secondary-fixed: #e9ddff;
  --color-tertiary-fixed: #6ffbbe;
  --color-surface-container-highest: #353437;
  --color-outline-variant: #464554;
  --color-on-error: #690005;
  --color-on-secondary-fixed: #23005c;
  --color-tertiary-fixed-dim: #4edea3;
  --color-error: #ffb4ab;
  --color-surface-container-high: #2a2a2c;
  --color-on-primary-container: #0d0096;
  --color-on-tertiary: #003824;
  --color-on-secondary-container: #c4abff;
  --color-secondary-fixed-dim: #d0bcff;
  --color-inverse-on-surface: #313032;
  --color-on-primary-fixed-variant: #2f2ebe;
  --color-outline: #908fa0;
  --color-on-background: #e5e1e4;
  --color-primary-container: #8083ff;
  --color-surface-container-lowest: #0e0e10;
  --color-surface-container: #201f22;
  --color-tertiary: #4edea3;
  --color-on-surface: #e5e1e4;
  --color-on-primary-fixed: #07006c;
  --color-surface-bright: #39393b;
  --color-on-secondary: #3c0091;
  --color-inverse-primary: #494bd6;
  --color-error-container: #93000a;
  --color-surface: #131315;
  --color-on-error-container: #ffdad6;
  --color-primary-fixed: #e1e0ff;
  --color-primary-fixed-dim: #c0c1ff;
  --color-surface-dim: #131315;
  --color-on-secondary-fixed-variant: #5516be;
  --color-secondary-container: #571bc1;
  --color-surface-container-low: #1c1b1e;
  --color-on-surface-variant: #c7c4d7;
  --color-surface-tint: #c0c1ff;
  --color-primary: #c0c1ff;
  --color-secondary: #d0bcff;
  --color-tertiary-container: #00885d;
  --color-on-primary: #1000a9;
  --color-background: #131315;
  --color-on-tertiary-container: #000703;
  --color-inverse-surface: #e5e1e4;
  --color-on-tertiary-fixed-variant: #005236;
  --spacing-space-md: 0.75rem;
  --spacing-gutter: 1rem;
  --spacing-space-xs: 0.25rem;
  --spacing-space-xl: 1.5rem;
  --spacing-margin-lg: 2.5rem;
  --spacing-margin: 1rem;
  --spacing-gutter-lg: 1.5rem;
  --spacing-space-lg: 1rem;
  --spacing-space-sm: 0.5rem;
  --spacing-margin-md: 1.5rem;
  --font-size-body-md: 14px;
  --line-height-body-md: 20px;
  --tracking-body-md: 0em;
  --font-weight-body-md: 400;
  --font-size-display-hero: 56px;
  --line-height-display-hero: 64px;
  --tracking-display-hero: -0.03em;
  --font-weight-display-hero: 600;
  --font-size-code-sm: 11px;
  --line-height-code-sm: 16px;
  --tracking-code-sm: 0em;
  --font-weight-code-sm: 400;
  --font-size-headline-lg-mobile: 26px;
  --line-height-headline-lg-mobile: 34px;
  --tracking-headline-lg-mobile: -0.015em;
  --font-weight-headline-lg-mobile: 600;
  --font-size-label-caps: 11px;
  --line-height-label-caps: 14px;
  --tracking-label-caps: 0.08em;
  --font-weight-label-caps: 500;
  --font-size-display-hero-mobile: 36px;
  --line-height-display-hero-mobile: 44px;
  --tracking-display-hero-mobile: -0.025em;
  --font-weight-display-hero-mobile: 600;
  --font-size-headline-lg: 32px;
  --line-height-headline-lg: 40px;
  --tracking-headline-lg: -0.02em;
  --font-weight-headline-lg: 600;
  --font-size-code-lg: 14px;
  --line-height-code-lg: 22px;
  --tracking-code-lg: -0.01em;
  --font-weight-code-lg: 400;
  --font-size-code-md: 13px;
  --line-height-code-md: 20px;
  --tracking-code-md: -0.01em;
  --font-weight-code-md: 400;
  --font-size-body-lg: 16px;
  --line-height-body-lg: 24px;
  --tracking-body-lg: -0.005em;
  --font-weight-body-lg: 400;
  --font-size-body-sm: 12px;
  --line-height-body-sm: 16px;
  --tracking-body-sm: 0.01em;
  --font-weight-body-sm: 400;
  --font-size-headline-sm: 18px;
  --line-height-headline-sm: 24px;
  --tracking-headline-sm: -0.01em;
  --font-weight-headline-sm: 500;
  --font-size-headline-md: 22px;
  --line-height-headline-md: 28px;
  --tracking-headline-md: -0.015em;
  --font-weight-headline-md: 500;
}
